---
user_details:
{% for item in csvfile.split("\n") %}
{%   if loop.index != 1 %}
{%     set list = item.split(",") %}
  - usermail: '{{ list[0]|trim() }}'
    name: '{{ list[1]|trim() }}'
    password: '{{ list[2]|trim() }}'
{%   endif %}
{% endfor %}
